html{
    box-sizing: border-box;
}
*, 
*::after,
*::before{
    padding: 0;
    margin: 0;  
    box-sizing: inherit;
}
body{
    font-family: 'Fraunces', 'Barlow', sans-serif;
}

.visually-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.container{
    max-width: 1320px;
    padding: 0 30px;
    margin: 0 auto;
}

.main-part {
    background-color: #FEFCF7;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 24px;
        margin: 0 auto;
    }
}