.commitments {
    padding-top: 100px;
    padding-bottom: 58px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-worker {
        border-radius: 10px;
    }
    &-text {
        .commitments-title {
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #333D4B;
        }
        .commitments-description {
            width: 540px;
            margin-top: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 768px) {
    .commitments {
        padding-top: 120px;
        padding-bottom: 120px;
        margin-bottom: 82px;
        flex-direction: column;
        overflow: hidden;
        &-text {
            margin-top: 48px;
            text-align: center;
            .commitments-title {
                font-size: 32px;
            }
            .commitments-description {
                width: 100%;
                margin-top: 30px;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}