.footer {
    background: #2C343E;
    &-pavigation {
        padding: 48px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-between;
        .footer-left-part {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .footer-logo-link {
                margin-right: 130px;
                text-decoration: none;
            }
            .footer-list {
                list-style: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                .footer-list-item {
                    margin-right: 33px;
                    .footer-list-link {
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.923077px;
                        text-transform: uppercase;
                        color: #83888F;
                    }
                    .footer-list-link:active {
                        color: #FEFCF7;
                    }
                }
            }
        }
        .socials {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &-icon-link {
                & svg {
                    width: 24px;
                    height: 24px;
                    margin-right: 20px;
                }
                & svg:last-child(3) {
                    margin-right: 0;
                }
                & svg:hover { 
                background-color: #FDD6BA;
                 border-radius: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .footer {
        &-pavigation {
            padding: 54px;
            flex-direction: column;
            .footer-left-part {
                display: block;
                .footer-logo-link {
                    text-align: center;
                    margin-right: 0;
                    .footer-logo {
                        margin-bottom: 49px;
                    }
                }
                .footer-list {
                    flex-direction: column;
                    .footer-list-item {
                        margin: 0;
                        margin-bottom: 24px;
                    }
                }
            }
            .socials {
                margin-top: 26px;
                text-align: center;
                justify-content: center;
            }
        }
    }
}