.header {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEFCF7;
    z-index: 1;
    position: sticky;
    top: 0;
    .logo-link {
        text-decoration: none;
        object-fit: fill;
        margin-right: auto;
        .logo-img {
            display: block;
        }
    }
    .nav-list {
        display: flex;
        list-style: none;
        .list-item {
            margin-right: 23px;
            .list-link {
                padding: 20px;
                text-decoration: none;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.923077px;
                text-transform: uppercase;
                color: #83888F;
                cursor: pointer;
            }
            .list-link:active {
                color: #333D4B;
            }
        }
    }
    .input-checkbox {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        opacity: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 767px) {
    .header {
        overflow: hidden;
        padding: 32px 24px;
        margin: 0 24px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        position: relative;
        position: sticky;
        top: 0;
        .logo-link {
            text-decoration: none;
            object-fit: fill;
            .logo-img {
                display: block;
            }
        }
        .nav-list {
            position: fixed;
            transform: translateY(-100%);
            width: 100%;
            height: 500px;
            padding-top: 10%;
            top: 0;
            left: 0;
            align-items: center;
            text-align: center;
            flex-direction: column;
            transition: all .5s ease-in-out;
            background: linear-gradient(0, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
            .list-item {
                margin-bottom: 32px;
                .list-link {
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #333D4B;
                }
                .list-link:hover {
                    color: #83888F;
                }
                .list-link:active {
                    background-color: #FEFCF7;
                }
            }
        }
        & .toggle-icon .toggle-line {
            width: 16px;
            height: 3px;
            margin: 3px;
            border-radius: 3px;
            background: #333D4B;
        }
        & .toggle-icon {
            margin-top: 5px;
        }
        .input-checkbox {
            right: 5%;
            cursor: pointer;
        }
        & :checked ~ .nav-list {
            top: 10%;
            transform: translateY(0);
        }
        & .input-checkbox:checked ~ .toggle-icon .toggle-line:nth-child(1) {
            transform: translateY(6px) rotate(50deg);
        }
        & .input-checkbox:checked ~ .toggle-icon .toggle-line:nth-child(3) {
            transform: translateY(-6px) rotate(130deg);
        }
        & .input-checkbox:checked ~ .toggle-icon .toggle-line:nth-child(2) {
            opacity: 0;
        }
    }
}