.working {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    &-text {
        margin-left: 100px;
        margin-bottom: 80px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }
    &-line {
        width: 380px;
        height: 1px;
        margin-left: 100px;
        border: none;
        background: #FDD6BA;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &-line::before {
        content: "";
        width: 31px;
        height: 31px;
        display: inline-block;
        background-image: url(../../images/working-1x.png);
        background-repeat: no-repeat;
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) { 
            & {
                background: url(../../images/working-2x.png) no-repeat;
                background-position: center;
                background-size: contain;
            }
        } 
    }
    &-line::after {
        content: "";
        width: 31px;
        height: 31px;
        display: inline-block;
        margin-left: auto;
        background: url(../../images/working-1x.png) no-repeat;
        background-position: center;
        background-size: contain;
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) { 
            & {
                background: url(../../images/working-2x.png) no-repeat;
                background-position: center;
                background-size: contain;
            }
        } 
    }
    &-line-second {
        width: 380px;
        height: 1px;
        margin-left: 480px;
        border: none;
        background: #FDD6BA;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &-line-second::after {
        content: "";
        width: 31px;
        height: 31px;
        display: inline-block;
        margin-left: auto;
        background: url(../../images/working-1x.png) no-repeat;
        background-position: center;
        background-size: contain;
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) { 
            & {
                background: url(../../images/working-2x.png) no-repeat;
                background-position: center;
                background-size: contain;
            }
        } 
    }
    &-cards {
        margin-top: 67px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        .working-card {
                margin-right: 95px;
            .working-card-text {
                font-weight: 900;
                font-size: 72px;
                line-height: 72px;
                color: #FDD6BA;
            }      
            .working-card-title {
                width: 255px;
                margin: 42px 0 32px 0;
                font-weight: 900;
                font-size: 32px;
                line-height: 36px;
                color: #333D4B;
            }     
            .working-card-description {
                width: 285px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #333D4B;
            }
        }      
        .working-card:last-child {
            margin-right: 0;
        }
    }
    &-link {
        padding: 16px 31px;
        margin-top: 64px;
        margin-bottom: 116px;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FEFCF7;
        text-decoration: none;
        background: #0E8784;
        border-radius: 6px;
        display: inline-block;
    }
    &-link:hover  {
        background: #66D2CF;
    }
    &-link:active  {
        background: #E2DEDB;
    }
}

@media screen and (max-width:  768px) {
    .working {
        &-line, &-line-second {
            display: none;
        }
        &-text {
            margin: 0;
            text-align: center;
        }
        &-cards {
            flex-direction: column;
            margin: 0;
            margin-top: 24px;
            .working-card {
                margin: 0;
                margin-top: 56px;
                text-align: center;
                .working-card-title {
                    width: 327px;
                    margin-top: 24px;
                    margin-bottom: 24px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 27px;
                    line-height: 32px;
                }
                .working-card-description {
                    width: 327px;
                    font-style: 15px;
                    line-height: 25px;
                    margin-left: auto ;
                    margin-right: auto;
                }
            }
        }
        &-link {
            margin-top: 79px;
        }
    }
}